:root {
    /* --background-color: #EFF5FC; */
    --background-color: rgba(139, 218, 224, 0.2);
    /* --primary: #6B3ECD; */
    --grey: #6a6c6e;
    /* --primary: #8BDAE0; */
    --primary: #44b2ba;
}

body {
    background-color: #fff;
    font-family:Helvetica, sans-serif;
}

button {
    background-color: #fff;
    border-color: transparent;
    border-radius: 6px;
    box-shadow: 0px 2px 6px rgba(154, 154, 154, 0.2);
    color: var(--primary);
    font-weight: 800;
    padding: 6px 8px;
    transition: 0.2s ease-in-out;
}

button:hover {
    background-color: var(--primary);
    color: #fff;
    transition: 0.2s ease-in-out;
}

h1 {
    color: var(--grey);
    font-size: 4rem;
    text-align: left;
}

h2 {
    color: var(--grey);
    font-size: 2rem;
    margin-bottom: 15px;
    margin-top: 50px;
}

input {
    border: none;
    border-bottom: 2px solid var(--primary);
    border-radius: 4px;
    box-sizing: border-box;
    margin: 8px auto;
    padding: 6px 10px;
    width: 100%;
}

table {
   max-width: 100%;
}

td, th {
    padding: 5px 15px 5px 0 ;
    text-align: left;
}

td {
    border-bottom: 1px solid #fff;
}

.alph-button {
    background-color: var(--primary);
    color: #fff;
}

.alph-button:hover {
    background-color: #fff;
    color: var(--primary);
}

.container {
    background-color: var(--background-color);
    border-radius: 12px;
    box-shadow: 0px 2px 6px rgba(154, 154, 154, 0.2);
    margin: 20px auto; 
    max-width: 60%;
    padding: 20px;
}

.delete-button {
    color: rgb(205, 0, 0);
}

.delete-button:hover {
    background-color: rgb(205, 0, 0);
    color: #fff;
}

.flex-table {
    display: grid;
    grid-template-columns: repeat(auto-fill, 25%);
}

.footer {
    color: var(--primary);
    font-size: 0.5rem;
    margin-top: 0;
    text-align: center;
}

.form-field {
    color: var(--grey);
    margin-bottom: 20px;
    max-width: 100%;
}

.heading {
    margin: 20px auto;
    max-width: 60%;
}

@media screen and (max-width: 800px) {
   
    .container {
        margin: 10px auto; 
        max-width: 80%;
    }


    h1 {
        font-size: 3rem;
        text-align: center;
    }

    tr {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    td, th {
        flex: 1 1 150px;
    }

}